node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.next
.vercel

# Local env files
.env
.env.*
!.env.example

.wrangler
wrangler.toml

#yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions