name = "devdocs"
compatibility_date = "2024-05-29"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[vars]
APP_KEY="xxxxxxxxxxxxxxxxx"
SUPER_ADMIN_PASSWORD="xxxxxx"
CDN_URL="https://cdn.example.com/"

[[d1_databases]]
binding = "DB"
database_name = "devdocs"
database_id = "xxxxx"
migrations_table = "migrations"
migrations_dir = "./src/migrations"


[[r2_buckets]]
binding = 'BUCKET'
bucket_name = 'devdocs'